@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  
}

nav{
  background-color: black;
  font-family: Poppins;
  background-clip: content-box;
  background-position: center;
  background-size: auto;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: none;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: none;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li{
  float: left;
  display: inline-block;
  background: none;
  margin: 0 5px;
  text-transform: lowercase;
  
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: gray;
  border-radius: 5px;
 
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}


/*  
//
//
logo on all pages:
*/
#idLogoText {
  float: right;
  padding-right: 1.3rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  color: white;

}



/*  
//
//
responsive part:
*/
@media all and (max-width: 700px) {
  

  .show + a, ul{
    display: none;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    
  }

nav {
  background-color: black;
  }

  nav ul{
  position: absolute;
  width: 100%;
  max-width: 700px;
  }

  nav ul li{
  clear:both;
  padding: 0rem 1rem;
  text-align: center;
  display: flex;
  float: left;
 
}

  nav ul li a:hover{
    box-shadow: none;
  }
  
  .icon{
    display: block;
    color: white;
    position: static;
    top: 0;
    line-height: 70px;
    font-size: 25px;
    margin-left: 20px;
    
  }
  
  [id^=btn]:checked + ul{
    display: block;

  }

  nav ul li{
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 60px;
  }
  
  
}

